@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root {
    --color1: #055941;
    --color2: #0B8C68;
    --color3: #2DA657;
    --color4: #91CF59;
    --white: #E7F0DE;
    --black: #0D2226;
}

/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    font: normal normal 1em 'Dm Sans';
}

/* Header */
header {
    position: fixed;
    z-index: 100;

    width: 100vw;
    height: 3.75rem;

    background-color: var(--color1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h2 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-left: -1rem;
}

header .logo img {
    margin-top: 0, 5rem;
    width: 4.4rem;
    height: 4.4rem;
}

/* Menu mobile */
header nav {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 60px;
    left: 0px;
    width: 100vw;

    background-color: var(--color2);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.35);
}

header nav.active {
    visibility: visible;
}

header nav a {
    padding-top: 2rem;

    text-decoration: none;
    color: white;

    font-size: 1.5em;
    font-weight: 500;
}

header nav a:last-child {
    padding-bottom: 2rem;
}

header nav a#conteudos {
    font-style: italic;
}

/* Hambuguer button menu */
.mobile-menu-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    margin-right: 2.5rem;
}

.mobile-menu-button .line {
    display: block;

    width: 18px;
    height: 2px;
    border-radius: 4px;

    margin-top: 5px;
    background-color: white;
    transition: transform .5s, opacity .25s;
}

/* Animação do button */
.mobile-menu-button.active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.mobile-menu-button.active .line:nth-child(2) {
    opacity: 0;
}
.mobile-menu-button.active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* Dropdown menu */
header nav .dropdown-menu{
    display: none;
    margin-top: .4rem;
}

header nav .dropdown-menu::after {
    content: '';

    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

    border: 0.5rem solid transparent;
    border-bottom-color: white;
}

/* Mouse hover dropdown */
header nav a#conteudos:hover + .dropdown-menu,
header nav .dropdown-menu:hover {
    display: block;
    position: relative;

    background-color: white;
    padding: 0px 2rem;
    border-radius: 16px;

    transform-origin: top center;
    transform: rotateX(0deg);
}

header nav a#conteudos:hover + .dropdown-menu a, 
header nav .dropdown-menu:hover a {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5rem 0px;

    text-decoration: none;
    color: var(--color1);
    font-size: 1em;
    font-weight: 500;
}

header nav .dropdown-menu a:hover {
    color: var(--color3);
    background-color: rgba(145, 207, 89, 0.25);
    border-radius: 16px;
    text-decoration: underline;
    transition-duration: .2s;
}

main {
    padding-top: 65px;
}